export POSTGRES_HOST=localhost
export POSTGRES_DB=user_finance
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_PORT=5432
export JWT_ISSUER=UserFinance
export JWT_AUDIENCE=UserFinance.Client
export JWT_SIGNING_KEY=super-secret-development-signing-key-12345
export JWT_EXPIRES_IN_MINUTES=60
export USER_SERVICE_PORT=8081
