export POSTGRES_HOST=localhost
export POSTGRES_DB=user_finance
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_PORT=5432
export JWT_ISSUER=UserFinance
export JWT_AUDIENCE=UserFinance.Client
export JWT_SIGNING_KEY=super-secret-development-signing-key-12345
export JWT_EXPIRES_IN_MINUTES=60
export API_GATEWAY_PORT=8080
export USER_SERVICE_PORT=8081
export USER_SERVICE_URL=http://localhost:8081
export USER_SERVICE_FAVORITES_PATH=/api/users/{userId}/favorites
export FINANCE_SERVICE_PORT=8082
export FINANCE_SERVICE_URL=http://localhost:8082
export CBR_DAILY_RATES_URL=https://www.cbr.ru/scripts/XML_daily.asp
export CURRENCY_UPDATER_INTERVAL_MINUTES=60
